/*!
 * Copyright 2012 Safwan Choudhury
 * Designed and built by @imsafwanc
 */

.serverinfo {
 	font-family: Menlo, Monaco, "Courier New", monospace;
	font-size: 12px;
}

.project {
  padding-top:  10px;
  padding-bottom: 10px;
}